In [4]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort(reverse=True)
print(thislist)

['pineapple', 'orange', 'mango', 'kiwi', 'banana']

In [5]:
def myfunc(n):
  return abs(n - 50)

thislist = [100, 50, 65, 82, 23]
thislist.sort(key = myfunc)
print(thislist)

[50, 65, 23, 82, 100]

In [9]:
a = [10,12,3,4]
a.pop(1)

12

In [14]:
a.remove(10)

In [39]:
thistuple = ("Apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
thistuple[0:4]

('Apple', 'banana', 'cherry', 'orange')

In [24]:
print(thistuple[-4:-1])

('orange', 'kiwi', 'melon')

In [42]:
if "Apple" in thistuple:
    print("Yes, 'apple' is in the fruits tuple")
    print('hello')
x= 10
print(x)

Yes, 'apple' is in the fruits tuple
hello
10

In [46]:
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)
print(x)
print(y)

('apple', 'kiwi', 'cherry')
['apple', 'kiwi', 'cherry']

In [47]:
x = (1,2,3,4)
y = list(x)
y.append(5)
x = tuple(y)
print(x)

(1, 2, 3, 4, 5)

In [48]:
#remove the value 3 from x
y = list(x)
y.remove(3)
x = tuple(y)
print(x)

(1, 2, 4, 5)

In [52]:
a,d,b = (1,2,3)
print(b)

3

In [53]:
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, yellow, *red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'strawberry', 'raspberry']

In [54]:
range(5)

range(0, 5)

In [55]:
a = [ 1,2,3,4]
range(len(a))

range(0, 4)

In [56]:
thistuple = ("apple", "banana", "cherry")
for i in range(len(thistuple)):
  print(thistuple[i])

apple
banana
cherry

In [59]:
a = (1,)
b = (2,3)
c = a  + b
print (c)

(1, 2, 3)

In [61]:
fruits = ("apple", "banana", "cherry")
mytuple = fruits * 3

print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

In [65]:
mytuple.count('Apple')

0